<div class="row" id="home_news">
  <div class="large-8 push-4 columns">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="{{ site.url }}/assets/img/album/banner/banner03.jpg"></li>
        <li><img src="{{ site.url }}/assets/img/album/banner/banner04.jpg"></li>
        <li><img src="{{ site.url }}/assets/img/album/banner/banner05.jpg"></li>
        <li><img src="{{ site.url }}/assets/img/album/banner/banner06.jpg"></li>
        <li><img src="{{ site.url }}/assets/img/album/banner/banner07.jpg"></li>
        <li><img src="{{ site.url }}/assets/img/album/banner/banner08.jpg"></li>
      </ul>
    </div>
  </div>
  <div class="large-4 pull-8 columns" id="home_news_txt">
    <h3>最新消息</h3>
    <p>2013.10.10</p><hr>
    <p>我們添購了『蒸汽加熱機』，所有飲料都可供應熱的喔！</p>
    <br>
    <p>2022.07.01</p><hr>
    <p>『外送服務』請打店裡電話03-5245881，感謝您！</p>
    <br>
    <p>2022.07.01</p><hr>
    <p>每週二為公休，不便之處請見諒！</p>
  </div>
</div>
