<div class="row">
  <div class="large-12 columns" id="press_mini">
    <h3 class="title">網友推薦</h3>
    <a href="/all_presses" target="_blank"> 

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            蜂蜜大王實實在在是一間很傳統的飲料舖。這間小店舖最好喝的就是「楊桃汁」、還有苦死人不賠命的「苦茶」；不過吃飽飽的這一天因為天氣太寒冷，我點了一杯熱桂圓茶。熱呼呼的一大杯桂圓茶握在手上好溫暖，聞著桂圓茶甜甜的香氣伴隨著冬天裡的陽光，走在巷道裡格外有一份特殊的異國風。
          </p>
          <cite>網友評鑑 from Vita</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/02.png">
            創始於1966年，自彰化八卦山養蜂起家，20年前從岳父手中接下鮮果汁吧，以對蜂蜜專業的態度，堅持挑選蜜中最高純度的龍眼蜜，採用最新鮮的天然水果材料，調製出一杯杯純正的蜂蜜茶及新鮮果汁，保留天然甘醇，風味絕佳！店內的每種果汁包括苦茶等都是店裡的熱門飲品。
          </p>
          <cite>網友評鑑 from TechLife科技生活</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            這家店的飲料感覺都很不錯，夏天的午後很適合來一杯消消暑。我們還看到有人開保時捷跑來買，看來蜂蜜大王在新竹真的很有來頭。
          </p>
          <cite>網友評鑑 from AHMAD Toki</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            老一輩的人都知道『蜂蜜大王』！以前在三角公園那裡！現在搬過來了！ 還在花錢去那一些加一大堆果糖跟奶精的地方喝茶嗎？不如來一點古法煉制的老店！喝純一點的！
          </p>
          <cite>網友評鑑 from 風城e族-發現新竹美食,吃遍各地美味</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            檸檬汁很好喝，是真材實料、傳統的那種。比澎湖的酸一點（小美應該會喜歡）。除了手上這一杯，coco還買了一大罐讓我帶回台中，真的很感謝捏！
          </p>
          <cite>網友評鑑 from Carol</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            來到蜂蜜大王我們點了百香果汁和蜂蜜+檸檬，蜂蜜+檸檬的檸檬喝起來不會像濃縮果汁那樣酸到無以復加，蜂蜜味道也很香！ 百香果汁也很好喝，冷飲都是冰在冰箱裡，不是加冰塊的，不會因退冰而失去原本的味道。
          </p>
          <cite>網友評鑑 from Hello Joanne喬奶 (◡‿◡✿)</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            他們的蜂蜜喝起來香甜又很醇，口感香濃又不會膩
          </p>
          <cite>網友評鑑 from 辣椒葉兒</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            新竹的蜂蜜檸檬～好喝到也想變成蜜蜂每天喝它… 老闆看起來就像一般平民一樣，但是與他聊天知道他的內涵很深，除了很懂本身製作飲料的專業態度之外，也非常了解其他的事物…所以很多話題都可以聊～一杯蜂蜜檸檬汁，也是一種絕學！
          </p>
          <cite>網友評鑑 from 光頭豔姬</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            去年到新竹找好友W，W推薦我的是百香果。她說從大學開始來到新竹後，每年夏天都靠著它渡過炎夏！她常常買整罐回家放在冷藏庫放著。 我也入境隨俗地點了一杯中百香果，坐在店內的小桌享用。冰涼透心的百香果汁順著喉嚨流經過肺到達了胃，傳回一陣涼爽。特別的是杯中見不到一顆冰塊，任何飲料都是從店內的冷藏庫中取出。老闆保證從第一口到最後一口都冰涼，且純度不變，不擔心最後只喝的到冰水。下次再訪的話，一定會點其他冷飲來清涼一下！
          </p>
          <cite>網友評鑑 from 變像的維那斯</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            蜂蜜大王可說是新竹市老字號的飲料店，老闆本身專營養蜂場，所以蜂蜜品質穩定，蜂蜜茶帶有清新的香氣，是店內招牌商品。另外蜂蜜檸檬也是人氣商品，檸檬也是店家自己栽種、榨汁，配上香甜蜂蜜，酸酸甜甜的滋味，具有養顏美容的功效，是女生們來這必點的飲料之一。 除了蜂蜜產品外，許多網友也推薦蜂蜜大王的冬瓜茶，不若一般冬瓜茶常會過甜，或者為了稀釋甜度加了過多水變的淡而無味，這裡的冬瓜茶喝來清甜，卻又保有濃濃的冬瓜味。蜂蜜大王所有飲料皆不加冰塊，喝得到飲料最純粹的原味，炎炎夏日不如來蜂蜜大王喝一杯，享受消暑解渴的暢快!
          </p>
          <cite>網友評鑑 from 新竹商圈導覽</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            點了杯蜂蜜檸檬，蜂蜜味道很香，搭配檸檬酸酸甜甜的滋味好極了。
          </p>
          <cite>網友評鑑 from 妹妹MAY</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            蜂蜜大王榮獲壹週刊等媒體報導且獲得網友評鑑為5.0顆星的美食餐廳。上車前被姐姐發現蜂蜜大王，姊姊感到高度興趣，硬要噴去買一杯蜂蜜味道真很香，檸檬就薄弱了一些，整體上來說喝起來很舒服！
          </p>
          <cite>網友評鑑 from 愛評網網友評鑑</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            這家店從國中就開始喝，原本在三角公園旁邊，後來那邊拆掉，這間店就搬到大遠百後面的巷子裡，店裡有賣蜂蜜，百香果汁，檸檬汁，楊桃汁等... 平時家裡都會買他的蜂蜜來泡，味道很香醇很不錯，百香果汁跟檸檬汁這兩個也是我很常喝的，百香果汁味道很天然的感覺，味道酸甜適中，真的很經典，買了一罐2000c.c.的百香果汁(80圓)回家，喝起來真的很不錯，大熱天來杯果汁是很不錯的享受!!
          </p>
          <cite>網友評鑑 from 橘色旋轉木馬</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            「新鮮的東西就是好吃、好喝。」所以每到檸檬盛產，他平均7到10天，就得親自跑果菜運銷公司一趟，挑選出品質最好的檸檬，一買就是1000多台斤，還得趕在3到4個鐘頭內，把一顆顆檸檬「處理」成一包包真空包裝、可供快速冷凍的原汁，為的就是這樣「尚青」。20年前他從岳父手中接下鮮果汁吧，堅持使用最新鮮的材料，搭配上岳父養蜂所採的天然花蜜，使得果汁風味絕佳。昨天記者採訪時，一名趕上班的騎士嘴裡雖直嚷「已經遲到5分鐘了」，但仍堅持要買瓶2000cc的檸檬汁才能上路。
          </p>
          <cite>網友評鑑 from 自由電子報</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            這間可是新竹市的老店呢！有機會歐塔就會去喝。歐塔每次都喝他們家的蜂蜜檸檬『酸酸甜甜 真好喝』。這麼好品質的在地店家 不支持一下怎麼行呢！
          </p>
          <cite>網友評鑑 from 歐塔星</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            第一次在巷弄裡發現了這家店，小小的攤子讓我們感到既親切又懷念。小時候的涼水攤就是長這樣，在炎熱的夏天沒有珍珠奶茶，卻可以到這樣的攤位裡用兩個銅板換得一陣涼暢，杯子舀出的液體被倒入透明的杯子中，捧在手上那涼爽的溫度，讓夏天的豔陽也不再那麼潑辣了。
          </p>
          <cite>網友評鑑 from 生活在他方</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            這家店大約每週來喝2~5天，老板總是在我喝飲料時邊跟我一起討論台灣現今時事。老板是個本土派,純樸愛台灣的良心生意人，只要你們喝過才知道市面上一堆添加人工化學物飲料店的飲料都比不上這裡的天然與甘醇！我推薦大家喝他的百香果汁與檸檬汁，風味香純~~讚啦!!
          </p>
          <cite>網友評鑑 from 台灣玉山之友網聚廳</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            這家在新竹也算是老字號了，開了多久我不清楚 但是我喜歡它們的蜂蜜檸檬，有濃濃蜂蜜味和微微的酸味！比較特別的是它們的飲料都是調好後冷藏，不加冰塊！老闆是彰化人原本在彰化自已有養蜂，後來到新竹後彰化那邊的蜂就請鄰居養了，而現在的蜂蜜也都是彰化的鄰居供應的，後來有帶我進去看它們的蜂蜜是像汽油桶那樣大的鐵桶，一桶一桶的裝著，老闆也帶我看了一桶還沒調成飲料的蜂蜜。
          </p>
          <cite>網友評鑑 from Cest La Vie</cite>
        </blockquote>

        <blockquote>
          <p>
            <img class="avatar left" src="{{ site.url }}/assets/img/press/01.png">
            這杯蜂蜜檸檬茶，女性朋友一定要點來喝喝。喝得出來檸檬並非濃縮汁，超新鮮的感覺；搭配微甜的蜂蜜，卻絲毫不減蜂蜜香氣，簡直是天衣無縫的組合，調配比例恰到好處。我本身很怕酸，所以不常喝蜂蜜檸檬，這杯讓我超驚艷！喝完後整個人清爽了起來。
          </p>
          <cite>網友評鑑 from 駅長手札</cite>
        </blockquote>

      <p id="press_all">(點擊可看全部)</p>
    </a>
    <div class="clearfix"></div>
  </div>
</div>
