<div class="row" id="home_content_guide">
  <div class="large-9 columns box">
    <h4>絕活披露</h4>
    <div class="row" id="navitems">
      <ul class="small-block-grid-2 large-block-grid-4">
        <li><a href="/products/honey">
          <img src="{{ site.url }}/assets/img/album/portrait/honey.png"></a>
        </li>
        <li><a href="/products/honeylemon">
          <img src="{{ site.url }}/assets/img/album/portrait/honeylemon.png"></a>
        </li>
        <li><a href="/products/lemon">
          <img src="{{ site.url }}/assets/img/album/portrait/lemon.png"></a>
        </li>
        <li><a href="/products/passion">
          <img src="{{ site.url }}/assets/img/album/portrait/passion.png"></a>
        </li>
        <li><a href="/products/starfruit">
          <img src="{{ site.url }}/assets/img/album/portrait/starfruit.png"></a>
        </li>
        <li><a href="/products/dongua">
          <img src="{{ site.url }}/assets/img/album/portrait/dongua.png"></a>
        </li>
        <li><a href="/products/herb">
          <img src="{{ site.url }}/assets/img/album/portrait/herb.png"></a>
        </li>
        <li><a href="/products/bitter">
          <img src="{{ site.url }}/assets/img/album/portrait/bitter.png"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-3 columns box">
    <h4>尋蜜趣</h4>
    <div id="social_panel">
      <h6>關注我們的最新消息</h6>
      <ul id="social_btns">
        <li><a href="https://www.facebook.com/honiboss" target="_blank" id="soc-fb"></a></li>
        <li><a href="https://www.google.com/search?client=firefox-b-d&q=%E8%9C%82%E8%9C%9C%E5%A4%A7%E7%8E%8B" target="_blank" id="soc-gplus"></a></li>
        <li><a href="https://twitter.com/HoneyBoss1966" target="_blank" id="soc-twitter"></a></li>
      </ul>
      <hr>

      <h6>哪裡買？</h6>
      <ul id="buy_btns">
        <li><a href="/map" id="buy-shop" target="_blank">到店購買</a></li>
        <li><a href="/delivers" id="buy-deliver" target="_blank">外送訂購</a></li>
      </ul>
      <hr>

      <h6>聯絡我們</h6>
      <ul>
        <li>Tel: 03-5245881</li>
        <li>Email: honiboss@gmail.com</li>
      </ul>
    </div>
  </div>
</div>
