<div class="row" id="home_startup">
  <div class="large-12 columns">
    <h4>創業故事</h4>
    <div class="row">
      <div class="large-4 columns">
        <img src="{{ site.url }}/assets/img/album/honey/honeyboss.jpg">
      </div>
      <div class="large-8 columns">
        <div class="story_txt">
          <p>蜂蜜大王起源於民國五十五年(西元1966年)，當年阿公(余蘇水先生)是個蜂農，在彰化花壇的山上務農，因為有當兵時的老朋友介紹，所以才有機緣到新竹賣蜂蜜茶。</p>
          <p>當時的專賣店流行叫「ＸＸ大王」，因此專賣蜂蜜茶的阿公就將店名叫做「蜂蜜大王」，當時在同一條街上還有甘蔗汁大王、椰子大王等等，但延續至今的只有蜂蜜大王。</p>
          <p>蜂蜜大王一路走來曾經的店址有：</p>
          <ul>
            <li>民國五十五年(西元1966年)開始，蜂蜜大王在新竹三角公園的夜市擺固定攤販。</li>
            <li>民國六十八年(西元1979年)夜市被拆除後，幸運的找到了關帝廟旁的露店繼續營業。</li>
            <li>民國九十三年(西元2004年)因關帝廟修繕的關係，廟方拆除了二十五年歷史的南門老街。於是蜂蜜大王便遷移到了現址：新竹市勝利路338號。</li>
          </ul>
          <p>『蜂蜜大王』這個俗又有力的的店名，在新竹屹立至今半個世紀，已成為在地新竹人家喻戶曉的天然健康飲品，歡迎繼續閱讀
          <a href="{{ site.url }}/products">蜂蜜大王的產品故事</a>。</p>
        </div>
      </div>
    </div>
  </div>
</div>