<div id="footer">
  <div class="row">
    <ul class="small-block-grid-1 large-block-grid-4" id="footer_block">
      <li>
        <img src="{{ site.url }}/assets/img/footer.png">
      </li>
      <li>
        <h5>產品故事</h5>
        <ul>
          <li><a href="{{ site.url }}/products/honey">蜂蜜茶</a></li>
          <li><a href="{{ site.url }}/products/lemon">檸檬汁</a></li>
          <li><a href="{{ site.url }}/products/honeylemon">蜂蜜檸檬</a></li>
          <li><a href="{{ site.url }}/products/passion">百香果汁</a></li>
        </ul>
        <ul>
          <li><a href="{{ site.url }}/products/starfruit">楊桃汁</a></li>
          <li><a href="{{ site.url }}/products/dongua">冬瓜茶</a></li>
          <li><a href="{{ site.url }}/products/herb">青草茶</a></li>
          <li><a href="{{ site.url }}/products/herb">苦茶</a></li>
        </ul>
      </li>
      <li>
        <h5>本店資料</h5>
        <ul>
          <li>店址：<a href="{{ site.url }}/map" target="_blank">新竹市勝利路338號(地圖)</a></li>
          <li>電話：03-5245881</li>
          <li>網站：<a href="http://www.honeyboss.com" target="_blank">http://www.honeyboss.com</a></li>
          <li>信箱：<a href="mailto:honiboss@gmail.com" target="_blank">honiboss@gmail.com</a></li>
          <li>營業：10:00-22:00，每週二公休。</li>
        </ul>
      </li>
      <li>
        <a href="{{ site.url }}/map">
          <img src="{{ site.url }}/assets/img/map.png">
        </a>
      </li>
    </ul>
  </div>
</div>