<div class="row" id="biglogo">
  <div class="small-12 columns">
    <a href="/">
      <img alt="logo" src="{{ site.url }}/assets/img/logo.png">
      <img alt="logo_word" src="{{ site.url }}/assets/img/logo_word.png">
    </a>
    <p>民國五十五年創立</p>
  </div>
</div>

<div id="navtxt">
  <div class="row">
    <div class="small-3 columns"><a href="/products">
      <img src="{{ site.url }}/assets/img/navtxt_2.png">
    </a></div>
    <div class="small-3 columns"><a href="/delivers">
      <img src="{{ site.url }}/assets/img/navtxt_4.png">
    </a></div>
    <div class="small-3 columns"><a href="/home/qa">
      <img src="{{ site.url }}/assets/img/navtxt_5.png">
    </a></div>
    <div class="small-3 columns"><a href="/posts">
      <img src="{{ site.url }}/assets/img/navtxt_3.png">
    </a></div>
  </div>
</div>
